<div class="card">
  <div class="card-header">Empleados</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9</td>
          <td>Ever Padilla</td>
          <td>epadilla@gmail.com</td>
          <td><a routerLink="/editar-empleado/1">Editar</a> | Borrar</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
